<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllTests">
    <test thread-count="5" name ="DataReadTest">
        <groups>
            <run>
                <include name="Resources"/>
                <include name="Space Suits"/>
                <include name="Helmets"/>
                <include name="Packs"/>
                <include name="Space Suit Sets"/>
            </run>
        </groups>
        <classes>
            <class name="com.jebutton.starfield.console.cg.tests.DataReadTests" />
        </classes>
    </test>
    <test thread-count="5" name ="ItemTypeTests">
        <groups>
            <run>
                <include name="ID Validation"/>
                <include name="Console Commands"/>
            </run>
        </groups>
        <classes>
            <class name="com.jebutton.starfield.console.cg.tests.ItemTypeTests" />
        </classes>
    </test>
    <test thread-count="5" name ="BaseMenuTests">
        <groups>
            <run>
                <include name="Chunking"/>
                <include name="Border"/>
                <include name="Boxed Line"/>
                <include name="Prompt"/>
                <include name= "Command"/>
                <include name= "Setters"/>
            </run>
        </groups>
        <classes>
            <class name="com.jebutton.starfield.console.cg.tests.BaseMenuTests" />
        </classes>
    </test>
</suite> <!-- DataReadTests -->
